.form-container 
{
    /* position: relative; Add position relative to the container */
    width: 400px;
    margin: 20px;
    /* margin: 0 auto;
    padding: 20px; */
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    background-color: #f9f9f9;
}
.form-container h2 {
    margin-bottom: 20px;
    text-align: center;
    color: #333;
}


.button-container {
    position: absolute; /* Position the button absolutely */
    top: 20px; /* Adjust top position as needed */
    left: 20px; /* Adjust left position as needed */
}

button {
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    font-size: 14px;
    color: #fff;
    background-color: #007bff;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

button:disabled {
    background-color: #6c757d;
    cursor: not-allowed;
}
